:root {
    --background-color: #0A1117;
    --light-blue: #ACECEE;
    --darker-blue: #0099FF;
    --shadow-blue: #0099ff90;
    --pink: #FF0088;
}

@font-face {
    font-family: 'Source Code';
    font-style: normal;
    font-display: block;
    src: url(/src/fonts/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Source Code';
    font-style: italic;
    font-display: block;
    src: url(/src/fonts/SourceCodePro-Italic-VariableFont_wght.ttf);
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border: solid 2px var(--light-blue);
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
    border-width: 2px;
    border-radius: 16px;
}

ul {
    list-style: none;
}

nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid var(--light-blue);
    box-shadow: 0 0 20px var(--shadow-blue), 0 0 10px var(--pink);
    background-color: var(--background-color);
    z-index: 10;
}

nav ul.active {
    display: flex;
}

.burger {
    display: block;
    background: none;
    border: none;
    color: var(--light-blue);
    font-size: 2rem;
    cursor: pointer;
}

nav a {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--light-blue);
}

/*-------------------------------------------------------------------------------------------------*/

body {
    background-color: var(--background-color);
    color: var(--light-blue);
    text-align: center;
    position: relative;
}

.effect-class::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(90deg,
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15) 1px,
            transparent 1px,
            transparent 2px);
    pointer-events: none;
    z-index: 10;
}

.effect-class::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(90deg, transparent, var(--light-blue) 5%, var(--darker-blue) 95%, transparent);
    opacity: 0.1;
    animation: scanline 5s linear infinite;
}

@keyframes scanline {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

body {
    font-family: 'Source Code';
}

p {
    margin: 0;
}

h1 {
    position: relative;
    font-family: 'Source Code';
    font-style: italic;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 0 0 20px var(--shadow-blue), 0 0 8px var(--pink);
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1::before {
    color: var(--darker-blue);
    z-index: -2;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

h1::after {
    color: var(--pink);
    z-index: -1;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {

    0%,
    100% {
        transform: none;
    }

    20% {
        transform: translate(-3px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(1px, 2px);
    }

    80% {
        transform: translate(2px, -1px);
    }
}

@keyframes glitch-anim-2 {

    0%,
    100% {
        transform: none;
    }

    25% {
        transform: translate(2px, -1px);
    }

    50% {
        transform: translate(-3px, 1px);
    }

    75% {
        transform: translate(1px, -2px);
    }
}



form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 760px;
    margin: 2em auto;
    gap: 32px;
}

.noise-img {
    width: 100%;
    display: block;
    z-index: 100;
}

/*---------------------------------------css images page exemple----------------------------------------------*/

.examples-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 260px;
    gap: 50px;
    max-width: 1300px;
    margin: 2em;

}

.examples-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--background-color);
    padding: 12px;
    border-radius: 14px;
    border: solid 2px;
    box-shadow: 0 0 24px var(--shadow-blue), 0 0 12px var(--pink), inset 0 0 12px var(--shadow-blue), inset 0 0 6px var(--pink);
}

.examples-img img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.examples-img img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.examples-img img:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.examples-img img:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.examples-img img:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.examples-img img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.examples-img img:nth-child(7) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}


/*---------------------------------------css images page exemple----------------------------------------------*/

.creator {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }

legend {
    font-size: 1.5rem;
    padding: 8px 16px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 0 24px var(--shadow-blue), 0 0 12px var(--pink);
}

fieldset {
    border-width: 2px;
    border-radius: 16px;
    padding: 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: solid 2px;
    box-shadow: 0 0 24px var(--shadow-blue), 0 0 12px var(--pink), inset 0 0 12px var(--shadow-blue), inset 0 0 6px var(--pink);
}

.advanced {
    align-items: flex-start;
    gap: 16px;
}

.advanced input:hover {
    cursor: pointer;
}

label>input {
    margin-top: 4px;
}

form input {
    width: 100%;
    box-sizing: border-box;
    height: 24px;
    color: var(--light-blue);
    padding: 12px 4px;
    background: none;
    border: solid 1px var(--light-blue);
}

input::placeholder {
    color: var(--light-blue);
    opacity: 0.5;
}

.radio-container {
    display: contents;
}

.radio-legend {
    font-size: 0.75rem;
}

.radio {
    display: flex;
    align-items: center;
    gap: 4px;
}

.radio:hover {
    cursor: pointer;
}

input[type="radio"] {
    width: fit-content;
}

form {
    text-align: left;
}

form p {
    text-align: center;
    font-size: 1.5rem;
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.separator::before,
.separator::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--light-blue);
}

.btn {
    position: relative;
    padding: 12px 32px;
    text-align: center;
    font-family: 'Source Code';
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--light-blue);
    background: none;
    border: none;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 20px var(--shadow-blue), 0 0 12px var(--pink);
    transition: transform 0.1s ease-in;
}

.btn::before,
.btn::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.btn::before {
    color: var(--darker-blue);
}

.btn::after {
    color: var(--pink);
}

.btn:hover {
    cursor: pointer;
    transition-timing-function: ease-in;
    transform: scale(1.05);
}

.btn:hover::before {
    animation: glitch-btn 0.3s ease-in-out infinite;

}

.btn:hover::after {
    animation: glitch-btn 0.3s ease-in-out reverse infinite;
}


@keyframes glitch-btn {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(-48%, -52%);

    }

    50% {
        transform: translate(-50%, -48%);

    }

    75% {
        transform: translate(-52%, -48%);

    }
}


/*----------------------------------------------------FOOTER---------------------------------------------------------*/

footer {
    width: 80%;
    display: grid;
}

footer ul {
    gap: 32px;
    list-style: none;
}

.footer {
    align-items: center;
    justify-content: space-around;
    text-align: start;
    grid-column: 2 / 3;
}


@media screen and (min-width: 760px) {

    header ul {
        position: static;
        display: flex;
        flex-direction: row;
        gap: 32px;
        width: fit-content;
        border: none;
        background: none;
        transform: translate(0);
        box-shadow: none;
        margin: 0;
    }

    .burger {
        display: none;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .advanced {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px 32px;
        align-items: center;
    }

    .radio-container {
        display: block;
    }

}

@media (max-width: 768px) {

    .examples-img {
        grid-template-columns: 1fr;
    }

    .examples-img {
        grid-column: auto;
        grid-row: auto;
        height: 300px;
    }
}