:root {
    --background-color: #0A1117;
    --light-blue: #ACECEE;
    --darker-blue: #0099FF;
    --shadow-blue: #0099ff90;
    --pink: #FF0088;
}

@font-face {
    font-family: 'Source Code';
    font-style: normal;
    font-display: block;
    src: url(/src/fonts/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Source Code';
    font-style: italic;
    font-display: block;
    src: url(/src/fonts/SourceCodePro-Italic-VariableFont_wght.ttf);
}

body {
    background-color: var(--background-color);
    color: var(--light-blue);
    text-align: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(90deg,
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15) 1px,
            transparent 1px,
            transparent 2px);
    pointer-events: none;
    z-index: 10;
}

body::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(90deg, transparent, var(--light-blue) 5%, var(--darker-blue) 95%, transparent);
    opacity: 0.1;
    animation: scanline 5s linear infinite;
}

@keyframes scanline {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

body p {
    font-family: 'Source Code';
}

h1 {
    position: relative;
    font-family: 'Source Code';
    font-style: italic;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 0 0 20px var(--shadow-blue), 0 0 8px var(--pink);
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1::before {
    color: var(--darker-blue);
    z-index: -2;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

h1::after {
    color: var(--pink);
    z-index: -1;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {

    0%,
    100% {
        transform: none;
    }

    20% {
        transform: translate(-3px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(1px, 2px);
    }

    80% {
        transform: translate(2px, -1px);
    }
}

@keyframes glitch-anim-2 {

    0%,
    100% {
        transform: none;
    }

    25% {
        transform: translate(2px, -1px);
    }

    50% {
        transform: translate(-3px, 1px);
    }

    75% {
        transform: translate(1px, -2px);
    }
}



.content {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 2em auto;
    gap: 32px;
}

.image-slot {
    min-width: 50%;
    max-height: 500px;
}

.image-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.colorpanel {
    display: flex;
    flex-direction: row;
    min-width: 25%;
    max-width: 100%;
    flex: 1;
    justify-content: center;
    font-family: 'Source Code';
}

legend {
    font-size: 1.5rem;
    padding: 0 8px;
    display: flex;
    align-self: flex-start;
}

fieldset {
    border-width: 2px;
    border-radius: 16px;
    flex: 1;
}

input {
    flex: 1;
    width: 100%;
}

form {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

form p {
    text-align: center;
    font-size: 1.5rem;
}

button {
    width: 128px;
    height: 32px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: auto;
}


label {
    margin-top: 5%;
    margin-bottom: 5%;
}