:root {
    --background-color: #0A1117;
    --light-blue: #ACECEE;
    --darker-blue: #0099FF;
    --shadow-blue: #0099ff90;
    --pink: #FF0088;
}

@font-face {
    font-family: 'Source Code';
    font-style: normal;
    font-display: block;
    src: url(/src/fonts/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Source Code';
    font-style: italic;
    font-display: block;
    src: url(/src/fonts/SourceCodePro-Italic-VariableFont_wght.ttf);
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 23px;
    border: solid 2px var(--light-blue);
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
    border-width: 2px;
    border-radius: 16px;
}

header ul {
    display: flex;
    gap: 32px;
    list-style: none;

}

a {
    text-decoration: none;
    color: var(--light-blue);
}

/*-------------------------------------------------------------------------------------------------*/

body {
    background-color: var(--background-color);
    color: var(--light-blue);
    text-align: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(90deg,
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15) 1px,
            transparent 1px,
            transparent 2px);
    pointer-events: none;
    z-index: 10;
}

body::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(90deg, transparent, var(--light-blue) 5%, var(--darker-blue) 95%, transparent);
    opacity: 0.1;
    animation: scanline 5s linear infinite;
}

@keyframes scanline {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

body {
    font-family: 'Source Code';
}

p {
    margin: 0;
}

h1 {
    position: relative;
    font-family: 'Source Code';
    font-style: italic;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 0 0 20px var(--shadow-blue), 0 0 8px var(--pink);
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1::before {
    color: var(--darker-blue);
    z-index: -2;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

h1::after {
    color: var(--pink);
    z-index: -1;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {

    0%,
    100% {
        transform: none;
    }

    20% {
        transform: translate(-3px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(1px, 2px);
    }

    80% {
        transform: translate(2px, -1px);
    }
}

@keyframes glitch-anim-2 {

    0%,
    100% {
        transform: none;
    }

    25% {
        transform: translate(2px, -1px);
    }

    50% {
        transform: translate(-3px, 1px);
    }

    75% {
        transform: translate(1px, -2px);
    }
}



form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 760px;
    margin: 2em auto;
    gap: 32px;
}

.noise-img {
    width: 100%;
    display: block;
}

legend {
    font-size: 1.5rem;
    padding: 8px 16px;
    background-color: var(--background-color);
    border: solid 0.1px var(--pink);
    border-radius: 8px;
    box-shadow: 0 0 24px var(--shadow-blue), 0 0 12px var(--pink);
}

fieldset {
    border-width: 2px;
    border-radius: 16px;
    padding: 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: solid 2px;
    box-shadow: 0 0 24px var(--shadow-blue), 0 0 12px var(--pink), inset 0 0 12px var(--shadow-blue), inset 0 0 6px var(--pink);
}

label>input {
    margin-top: 4px;
}

input {
    width: 100%;
    box-sizing: border-box;
    height: 24px;
    color: var(--light-blue);
    padding: 12px 4px;
    background: none;
    border: solid 1px var(--light-blue);
}

input::placeholder {
    color: var(--light-blue);
    opacity: 0.5;
}

form {
    text-align: left;
}

form p {
    text-align: center;
    font-size: 1.5rem;
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.separator::before,
.separator::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--light-blue);
}

.btn {
    position: relative;
    padding: 12px 32px;
    text-align: center;
    font-family: 'Source Code';
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--light-blue);
    background: none;
    border: none;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 20px var(--shadow-blue), 0 0 12px var(--pink);
    transition: transform 0.1s ease-in;
}

.btn::before,
.btn::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.btn::before {
    color: var(--darker-blue);
}

.btn::after {
    color: var(--pink);
}

.btn:hover {
    cursor: pointer;
    transition-timing-function: ease-in;
    transform: scale(1.05);
}

.btn:hover::before {
    animation: glitch-btn 0.3s ease-in-out infinite;

}

.btn:hover::after {
    animation: glitch-btn 0.3s ease-in-out reverse infinite;
}


@keyframes glitch-btn {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(-48%, -52%);

    }

    50% {
        transform: translate(-50%, -48%);

    }

    75% {
        transform: translate(-52%, -48%);

    }
}


@media screen and (min-width: 760px) {

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .advanced {
        grid-column: 1 / 3;
    }

}